@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html{
    background-color: #E5DDF3;
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #440070;
    height: 30vh;
}
.login{
    width: 900px;
    height: 200px;
    margin-top: 230px;
    border-radius: 2px;
    text-align: center;
    font-family: 'inter', sans-serif;
    background-color: #B19CD9;
}
.title{
    margin-top: 80px;
    font-family: 'inter', sans-serif;
    font-size: 38px;
    color: white;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 30px;
}
main , h2{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.info1 input{
    margin-top: 10px;
    background-color: #B19CD9;
    border: none;
    width: 249px;
    height: 50px;
    border-radius: 18px;
    margin-bottom: 20px;
}
.info2 input{
    margin-top: 10px;
    background-color: #B19CD9;
    border: none;
    width: 249px;
    height: 105px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn{
    margin-top: 10px;
    background-color: #B19CD9;
    border: none;
    width: 99px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}


